* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Tw Cen MT";
}

body {
    display: flex;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 60px 50px 72px;
}

.left-bottom-container {
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.left-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #353535;
    gap: 20px;
}

.left-bottom a {
    text-decoration: none;
    font-size: 16px;
    color: #353535;
    font-weight: 400;
}

.left-bottom-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    gap: 15px;
    margin-left: 100px;
}

.logo {
    width: fit-content;
    height: 48px;
    align-self: baseline;
    margin-bottom: 30px;
}

.mockup {
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
}

.left-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.left-bottom a {
    text-decoration: none;
    font-size: 16px;
    color: #353535;
    font-weight: 400;
}

.mobile {
    display: none;
}

.left-bottom-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 15px;
}

.left-bottom p {
    font-size: 16px;
    font-weight: 400;
    color: #353535;
}

.right {
    background: url("./assets/icon/right-bg.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    padding: 30px 20px 20px 20px;
    width: 70%;
    height: 350px;
    box-shadow: 0px 0px 14.9px 1px #1111110D;
}

.flyover {
    display: none;
}

.right h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #353535;
}

.right-top p {
    font-size: 16px;
    font-weight: 400;
    color: #808080;
}

.input-div {
    margin-bottom: 100px;
}

.right-bottom {
    width: 100%;
}

.right-bottom p {
    font-size: 16px;
    font-weight: 400;
    color: #666666B2;
}

.resend a {
    color: #CC33CC;
    cursor: pointer;
}

.button {
    padding: 12px 16px;
    width: 100%;
    background-color: #CC33CC;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.check img {
    width: 150px;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 5px;
    width: 100%;
}

.email input {
    border: 1px solid #CC33CC;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    height: 50px;
}

.email input:focus {
    border: 2px solid #CC33CC;
    outline: none;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.login {
    font-size: 16px;
    margin-top: 10px;
}

.reset {
    width: 70%;
}

.right-bottom h3 {
    color: #808080;
    font-size: 20px;
    font-weight: 600;
}

.asteriks {
    color: #C91301;
}

.input-holder {
    width: 100%;
    position: relative;
}

.input-holder img {
    position: absolute;
    right: 5%;
    top: 30%;
    cursor: pointer;
}


/* responsiveness style for mobile */

@media (max-width: 768px) {
    .left {
        display: none;
    }
    body {
        background: url("./assets/icon/right-bg.jpg");
    }
    .right {
        background: none;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .right>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border-radius: 4px;
        width: 100%;
        background: none;
    }
    .input-div {
        margin-bottom: 10px;
    }
    .flyover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 380px; */
        /* height: 145px; */
        /* margin-bottom: 30px; */
    }
    .mobile-logo {
        width: 161px;
        height: 30px;
        /* margin-bottom: 30px; */
    }
    .login {
        margin-top: 10px;
    }
    .mobile {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        /* margin-top: 70px; */
        color: #353535;
        font-weight: 400;
        font-size: 12px;
        position: fixed;
        bottom: 3px;
    }
    .mobile a {
        text-decoration: none;
        color: #353535;
        font-weight: 400;
        font-size: 12px;
    }
    .mobile div {
        display: flex;
        justify-content: right;
        gap: 10px;
        font-size: 12px;
    }
}