* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Tw Cen MT";
}

body {
    display: flex;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    overflow-y: hidden;
}

.left-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 50px 60px 50px 72px;
    width: 70%;
    height: 100vh;
    position: relative;
}


.left-bottom-container {
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.verify-successful {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}


.left-bottom-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    gap: 15px;
    margin-left: 100px;

}

.left-bottom-link a {
    text-decoration: none;
    font-size: 14px;
    color: #353535;
    font-weight: 400;
}

.main-logo {
    width: fit-content;
    height: 48px;
    align-self: baseline;
    margin-bottom: 30px;
}

.left-image {
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

.verify-successful {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
}

.mobile {
    display: none;
}

.verify-successful div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 15px;
}

.verify-successful p,
a {
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    text-decoration: none;
}

.right-section {
    background: url("./images/right-bg.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    padding: 20px 30px;
    width: 70%;
    /* max-width: 400px; */
}

.flyover {
    display: none;
}


.verify-success-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 20px;
    position: absolute;
    width: 550px;
    height: 500px;
    left: calc(72% - 563px/2);
    top: calc(50% - 450px/2);
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 0px 14.9px 1px #1111110D;

}

.verify-success-header {

    font-size: 24px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: #353535;
    gap: 10px;
}

.verify-success-description {

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
    color: #808080;
}

form {
    flex-direction: column;
    justify-content: center;
}

label {
    width: 38px;
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #353535;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 2rem;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
}

.mobile-header {
    display: none;
}


.success-image-container {
    display: flex;
    justify-content: center;

}

.success-image {
    width: 320px;
    height: 320px;

}

.button-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

button {
    padding: 12px 16px;
    background: #CC33CC;
    width: 100%;
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

/* responsiveness style for mobile */
@media (max-width: 768px) {
    .left-section {
        display: none;
    }

    body {
        background: url("./images/right-bg.jpg") no-repeat;
        background-size: cover;
    }

    .right-section {
        background: none;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .verify-success-container {
        transform: translateX(-50%);
        left: 50%;
        background: none;
    }

    .mobile-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-logo {
        width: 161px;
        height: 30px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .second-image {
        width: 379px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 138px;
        margin-left: 80px;

    }

    .login-section {
        margin-top: 10px;
    }

    .success-image {
        width: 250px;
        height: 250px;

    }

    .mobile {
        display: flex;
        position: fixed;
        bottom: 20px;
        padding: 0 20px;
    }

    .mobile p {
        font-size: 12px;
    }

}